/* modifiers */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.disable-hidden{
    opacity: 0 !important;
    pointer-events: none !important;
}

.no-mobile-display{
    display: none !important;
}.no-mobile-view{
    opacity: 0 !important;
}
.only-mobile-display{
    display: inline !important;
}.only-mobile-view{
    opacity:1 !important;
}

.rainbow-bg{
    background-color:#da99ff; background-image:
    radial-gradient(at 87% 44%, hsla(223,70%,78%,1) 0px, transparent 50%),
    radial-gradient(at 76% 71%, hsla(260,97%,61%,1) 0px, transparent 50%),
    radial-gradient(at 90% 10%, hsla(338,78%,60%,1) 0px, transparent 50%),
    radial-gradient(at 32% 68%, hsla(357,99%,79%,1) 0px, transparent 50%),
    radial-gradient(at 62% 29%, hsla(284,73%,79%,1) 0px, transparent 50%),
    radial-gradient(at 35% 23%, hsla(195,91%,76%,1) 0px, transparent 50%),
    radial-gradient(at 71% 80%, hsla(315,99%,69%,1) 0px, transparent 50%);
}

/* trigger configuration */
.trigger{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: absolute;
    z-index: 9999 !important;
    right:5rem;
    
    visibility: hidden;
}

/* connections */
.connections img:hover{
    transform: scale(1.2);
} #connections-container{
    justify-content: center;
} .connections img{
    cursor:pointer;
    scale: 1;
    transition-property: transform;
    padding: 0 10pt 0 10pt;
} .cc-left{
    justify-content: center;
}  .cc-center{
    justify-content: center !important;
}

/* videos */
.video-container{
    display: flex;
    width:min(60.5rem, 95vw); height: fit-content;
    display: flex; flex-direction: column;
    justify-content: center;
    
    position:relative;
    border-radius: 2rem;

    overflow: hidden;
} .video-descriptions{
    position:relative;
    width: calc(100% - 4rem);
    height: fit-content;
    background-color: #1a1a1a;
    
    backdrop-filter:blur(30px);

    padding: 1rem 2rem 1rem 2rem;
    display: flex; flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 0 0 2rem 2rem;
}
.video-container a{
    position: relative;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: #0d86ff;
    border:none;
    border-radius: 100rem;
    cursor:pointer;
    text-decoration: none;

    margin:30pt 0 14pt 0;
}
.video-container a:hover{
    background-color: #0a74df;
}

.video-control-container{
    position: absolute;
    width: 100%;
    aspect-ratio: 640/352;
    left:0; top:0;
    display: flex; justify-content: center; align-items: flex-end;
}.video-control-container img{
    opacity: 0;
    width: 24pt; height:24pt;
    margin-bottom: 1rem;
    transition-property: opacity;
}.video-control-container:hover img{
    opacity: 1;
    cursor:pointer;
}

/* patreon tiers */
.pat-tier-container{
    border: 1px solid white;
    border-radius: 17pt;
    display: flex;
    justify-content: center;
    width: min(50rem, 90%);
    margin-top:50pt;
    padding: 30pt 10pt 20pt 10pt;
    flex-wrap: wrap;
} .pat-tier-title{
    position:absolute;
    transform: translateY(calc(-60% - 30pt));
    background-color: #0d0f12;
    padding: 0 15pt 0 15pt;
} .god-tier-text-color{
    background-color:#ff9dcc;
    background-image:
    radial-gradient(at 22% 75%, rgb(119, 95, 255) 0px, transparent 50%),
    radial-gradient(at 30% 27%, rgb(66, 204, 255) 0px, transparent 50%),
    radial-gradient(at 45% 3%, rgb(113, 255, 53) 0px, transparent 50%),
    radial-gradient(at 11% 49%, rgb(132, 255, 128) 0px, transparent 50%);
    -webkit-background-clip: text; background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pat-member{
    user-select: none;
    cursor: default;
    background-color: #ffffff;
    color:black;
    border-radius: 1000rem;
    margin: 6pt;
    font-weight: 500;
    padding: 6.75pt 2pt 6.75pt 2pt;
}
.pat-mem-foreground{
    padding: 5pt 15pt 5pt 15pt;
    background-color: #0d0f12;
    border-radius: inherit;
    color:white;
    line-height: 0;
} @media (hover: hover) {.pat-mem-foreground:hover{
    background-color: transparent;
    color:black;
}}

.member-reg{
    background: linear-gradient(20deg, #439bff9f 0%, #3edfff9f 49%, #5cffd49f 100%);
} .member-epic{
    background: linear-gradient(70deg, #ff43a7bf 0%, #ff3ef2bf 49%, #bb5cffbf 100%);
} .member-leg{
    background: linear-gradient(210deg, #ff7c25 0%, #ff9b3e 49%, #ffe45c 100%);
} .member-god{
    background-color:#da99ff; background-image:
    radial-gradient(at 87% 44%, hsla(223,70%,78%,1) 0px, transparent 50%),
    radial-gradient(at 76% 71%, hsla(260,97%,61%,1) 0px, transparent 50%),
    radial-gradient(at 90% 10%, hsla(338,78%,60%,1) 0px, transparent 50%),
    radial-gradient(at 32% 68%, hsla(357,99%,79%,1) 0px, transparent 50%),
    radial-gradient(at 62% 29%, hsla(284,73%,79%,1) 0px, transparent 50%),
    radial-gradient(at 35% 23%, hsla(195,91%,76%,1) 0px, transparent 50%),
    radial-gradient(at 71% 80%, hsla(315,99%,69%,1) 0px, transparent 50%);
    box-shadow: 0 0 1.5rem #ff88efa3;
}


/* This is just for page & generic styling */
body{
    width: 100vw; height: 100vh;
    margin:0; padding:0;
    background-color: #0d0f12;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    scroll-behavior: smooth;
    overflow: hidden;
}

hr{
    margin: 1.5rem 0 1.5rem 0;
    height: 2px;
    background-color: #adadad;
    border:none;
}

#main-bg{
    position: fixed;
    width: clamp(110rem, 150%, 150rem);
    height: auto;

    opacity: 0;

    filter: brightness(0.5);

    margin-left: 200pt;
}

#title-text-container{
    width: 90%;
} #title-text-container h1{
    text-align: center;
} #title-text-container h3{
    text-align: center;
}

#about-text-container{
    flex-direction: column;
} #about-text-container p{
    text-align: center;
}

/* ====================== MEDIUM ====================== */
@media screen and (min-width: 900px) {
    .no-mobile-display{
        display: inline-block !important;
    }.no-mobile-view{
        opacity: 1 !important;
    }
    .only-mobile-display{
        display: none !important;
    }.only-mobile-view{
        opacity:0 !important;
    }

    /* special view classes */
    
    /* connections */
    #connections-container{
        justify-content: flex-end;
    } .connections img{
        padding: 0 5pt 0 5pt;
    } .cc-left{
        justify-content: flex-start !important;
    }

    #main-bg{
        transform: none;
        filter: brightness(1);
        margin-left: 0;
    }    

    #title-container {
        background-color: transparent;
    }

    #title-text-container{
        padding-right: 10%;
    } #title-text-container h1{
        text-align: right;
    } #title-text-container h3{
        text-align: right;
    }

    /* videos */
    .video-container{
        aspect-ratio: 640/352;
        overflow: hidden;
    } .video-descriptions{
        position:absolute;
        width: 40%; height: 100%;
        right:0; top:0;

        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        text-align: left;
        background-color: #484848d2;

        border: 1px solid #464646;
        box-shadow: 0 0 5rem #000000a9;
    
        border-radius: 0 1.8rem 1.8rem 0;
    }
    @-moz-document url-prefix() {
        .video-descriptions{
            background-color: #484848fa;
        }
    }
    .video-container a{
        position: absolute;
        font-size: 0.5rem;
        bottom:1.5rem;
        margin:0;
    } .video-container a > p{
        font-size: 1rem;
    }

    .video-control-container{
        width: calc(60% - 4rem); height:100%;
        left:0; bottom:0; top:unset;
    }.video-control-container img{
        margin-bottom: 2rem;
    }

    #about-text-container{
        flex-direction: row;
    } #about-text-container p{
        text-align: left;
    }
}

/* ====================== LARGE ====================== */
@media screen and (min-width: 1300px) {
    /* videos */
    .video-descriptions{
        position:absolute;
        width: 40%;
        
        padding: 1rem 2rem 1rem 2rem;
    }
    .video-container a{
        bottom:3rem;
    } .video-container a > p{
        font-size: 1.25rem;
    }

    .video-control-container{
        width: calc(60% - 4rem); height:100%;
        left:0; bottom:0;
    }
}